@font-face {
    font-family: 'graphikgompact-regular-trial';
    src: url('../fonts/GraphikCompact-Regular-Trial.otf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    scroll-behavior: smooth;
    --header-and-footer-text-color: #FFF;
    --primary-color: #2091F9;
    --text-color: #252b42;
    --second-text-color: #374754;
    --input-text-color: #18171D;
}

img {
    display: block;
    width: 100%;
}

body {
    font-family: 'graphikgompact-regular-trial';
}

a {
    text-decoration: none;
}

@media (max-width: 420px) {

    .navigation-links,
    .header-social {
        display: none;
    }

    .header {
        height: 850px;
        background-position: 50%;
    }

    .header-h1 {
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: 55px;
        letter-spacing: 0.2px;
    }

    .items_row {
        flex-direction: column;
    }

    .features-content {
        display: flex;
        flex-direction: column-reverse;
    }

    .hero_light_4 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero_light_4-img {
        
    }
}

.header {
    background-image: url('../img/header-background.png');
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.header-social {
    display: flex;
}

.navbar-link {
    color: var(--header-and-footer-text-color);
    font-size: 15px;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    justify-content: space-around;
}

.header-logo {
    width: 186px;
    height: 58px;
}

.header-social-link {
    display: block;
    width: 40px;
}

.header-text {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    text-align: center;
}

.header-h1 {
    color: var(--header-and-footer-text-color);
    font-size: 74px;
    font-weight: 700;
    line-height: 84px;
    letter-spacing: 0.2px;
}

.header-h4 {
    color: var(--header-and-footer-text-color);
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.2px;
}

.main-link {
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--header-and-footer-text-color);
    padding: 16px 62px;
    border-radius: 35px;
    width: 236px;
    height: 20px;
}

h2 {
    font-size: 48px;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: 0.2px;
    color: var(--text-color);
}

h4 {
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.2px;
    color: var(--text-color);
}

h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: var(--text-color);
}

.card-img {
    width: 61px;
}

.features-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items_row {
    display: flex;
    flex-direction: row;
}

.item_card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item_card-description {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    color: var(--text-color);
    text-align: center;
}

.item_card-title {
    text-align: center;
}

.video_screen-moving-img {
    width: 186px;
}

.hero_light_4 {
    display: flex;
    flex-direction: row;
}

.hero_light_4-text-column {    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero_light_4-img {
    width: 624px;
}



.subscribe-img {
    width: 678px;
}

.email-area {
    border-radius: 39px;
    border: 1px solid #E8E8E8;
    background: #F4F4F4;
    padding: 19px 39px;
}

input::placeholder {
    color: var(--input-text-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

.submit-button {
    background-color: var(--primary-color);
    border-radius: 35px;
    border: none;
    color: var(--header-and-footer-text-color);
    padding: 19px 38px;
}

.partners-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partners-text {
    color: var(--text-color);
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.2px;
}

.partner-logo-box {
    padding: 32px 40px;
    border: 1px solid #D8D8D8;
}

.partner-logo-img {
    width: 193px;
}

.partner-name {
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.1px;
    color: var(--second-text-color);
}

.testimonials-logo {
    width: 150px;
}

.testimonials-description {
    color: var(--second-text-color);
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.2px;
}

.users_photo {
    width: 50px;
}

.user-description {
    color: var(--second-text-color);
    font-family: Graphik;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.1px;
}

.users-job {
    color: var(--second-text-color);
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.2px;
}

.testimonials-link {
    color: var(--header-and-footer-text-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.1px;
    padding: 16px 47px;
    border-radius: 35px;
    background-color: var(--primary-color);
}

.pricing {
    background-color: #374754;
}

.pricing-h2,
.pricing-description {
    color: var(--header-and-footer-text-color);
}

.pricing-description {
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.2px;
}

.free-pricing,
.business-pricing {
    background-color: var(--header-and-footer-text-color);
    padding: 40px;
    border-radius: 10px;
    border: 1px solid #DEDEDE;
    color: var(--text-color);
}

.pricing-description {
    font-size: 16px;
    color: var(--second-text-color);
}

.price-number {
    font-size: 74px;
    font-weight: 700;
    line-height: 84px;
    letter-spacing: 0.2px;
}

.currency {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.1px;
}

.periodicity {
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.1px;
}

.pricing-feature {
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.2px;
}

.order-link {
    padding: 18px 38px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    border-radius: 35px;
    background-color: var(--primary-color);
}

.free-order-link,
.business-order-link {
    color: var(--header-and-footer-text-color);
}

.standard-pricing {
    padding: 83px 40px;
    background-color: var(--primary-color);
}

.standard-order-link {
    background-color: var(--header-and-footer-text-color);
    color: var(--primary-color);
}

svg {
    width: 40px;
}

.contacts-title {
    color: var(--text-color);
}

.footer {
    background-color: #252B42;
    color: var(--header-and-footer-text-color);
}

.contacts-description {
    color: var(--second-text-color);
}

.contact-form {
    padding: 52px 50px;
    border-radius: 20px;
    border: 1px solid #DDD;
    background: #FFF;
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
}

.contact-input {
    padding: 19px 20px;
    border-radius: 39px;
    border: 1px solid #E8E8E8;
    background: #F5F5F5;
}

textarea::placeholder {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.1px;
    color: var(--input-text-color);
}

.submit-button:hover {
    cursor: pointer;
}

.footer-h3 {
    color: var(--header-and-footer-text-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.1px;
}

.footer-link {
    text-decoration: none;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: var(--header-and-footer-text-color);
}

.footer-location,
.footer-phone {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.2px;
}

footer svg {
    width: 40px;
}