@font-face {
    font-family: 'graphikgompact-regular-trial';
    src: url('../fonts/GraphikCompact-Regular-Trial.otf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    scroll-behavior: smooth;
    --header-and-footer-text-color: #FFF;
    --primary-color: #2091F9;
    --text-color: #252b42;
    --second-text-color: #374754;
}

img {
    display: block;
    width: 100%;
}

body {
    font-family: 'graphikgompact-regular-trial';
}

a {
    text-decoration: none;
}

.header {
    background-image: url('../img/header-background.png');
}

.navbar-link {
    color: var(--header-and-footer-text-color);
    font-size: 15px;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
}

.header-logo {
    width: 186px;
    height: 58px;
}

.header-social-link {
    display: block;
    width: 40px;
}

.header-h1 {
    color: var(--header-and-footer-text-color);
    font-size: 74px;
    font-weight: 700;
    line-height: 84px;
    letter-spacing: 0.2px;
}

.header-h4 {
    color: var(--header-and-footer-text-color);
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.2px;
}

.main-link {
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--header-and-footer-text-color);
    padding: 16px 62px;
    border-radius: 35px;
}

h2 {
    font-size: 48px;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: 0.2px;
    color: var(--text-color);
}

h4 {
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.2px;
    color: var(--text-color);
}

h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: var(--text-color);
}

.card-img {
    width: 61px;
}

.item_card-description {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    color: var(--text-color);
}

.video_screen-mmoving-img {
    width: 186px;
}

.hero_light_4-img {
    width: 624px;
}

.subscribe-img {
    width: 678px;
}

.email-area {
    border-radius: 39px;
    border: 1px solid #E8E8E8;
    background: #F4F4F4;
    padding: 19px 39px;
}

input::placeholder {
    color: var(--text-color);
}

.submit-button {
    background-color: var(--primary-color);
    border-radius: 35px;
    border: none;
    color: var(--header-and-footer-text-color);
    padding: 19px 38px;
}

.partners-text {
    color: var(--text-color);
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.2px;
}

.partner-logo-box {
    padding: 32px 40px;
    border: 1px solid #D8D8D8;
}

.partner-logo-img {
    width: 193px;
}

.partner-name {
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.1px;
    color: var(--second-text-color);
}

.testimonials-logo {
    width: 150px;
}

.testimonials-description {
    color: var(--second-text-color);
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.2px;
}

.users_photo {
    width: 50px;
}

.user-description {
    color: var(--second-text-color);
    font-family: Graphik;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.1px;
}

.users-job {
    color: var(--second-text-color);
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.2px;
}

.testimonials-link {
    color: var(--header-and-footer-text-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.1px;
    padding: 16px 47px;
    border-radius: 35px;
    background-color: var(--primary-color);
}

.pricing{
    background-color: #374754;
}

.pricing-h2,
.pricing-description{
    color: var(--header-and-footer-text-color);
}

.pricing-description {
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.2px;
}

.free-pricing,
.business-pricing {
    background-color: var(--header-and-footer-text-color);
    padding: 40px;
    border-radius: 10px;
    border: 1px solid #DEDEDE;
    color: var(--text-color);
}

.pricing-description {
    font-size: 16px;
    color: var(--second-text-color);
}

.price-number {
    font-size: 74px;
    font-weight: 700;
    line-height: 84px;
    letter-spacing: 0.2px;
}

.currency {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.1px;
}

.periodicity {
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.1px;
}

.pricing-feature {
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.2px;
}

.order-link {
    padding: 18px 38px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    border-radius: 35px;
    background-color: var(--primary-color);
}

.free-order-link, .business-order-link {
    color: var(--header-and-footer-text-color);
}

.standard-pricing{
    padding: 83px 40px;
    background-color: var(--primary-color);
}

.standard-order-link{
    background-color: var(--header-and-footer-text-color);
    color: var(--primary-color);
}

svg{
    width: 40px;
}


